<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="/reset_password_view/" >
        <input type="text" name="password" id="password">
        <input type="text" name="password1" id="password1">
        <input type="hidden" name="user" value="{{user}}">
        <input type="hidden" name="reset" value="{{reset}}">        
        <input type="submit" value="Reset">
    </form>
</body>
</html>